html
{
	text-align: center;
	padding: 30px;
	font-size: 22px
}

.button, .input
{
	transition: 300ms;
}

a.button
{
	font-size: 0.6rem;
}

.columns, .block
{
	margin-top: 3rem;
}

.table
{
	font-size: 0.8rem;
}
/*
tr.is-success
{
	background: rgba(0, 107, 62, 0.33);

}

tr.is-danger
{
	background: rgba(222, 5, 5, 0.33);
}
*/
@media screen and (max-width: 1080px)
{
	.columns, .block
	{
		margin-top: 1rem;
	}

	.table
	{
		font-size: 0.5rem;
	}
}